:root {
    --MainColor: #1A2D42;
    --SecondaryColor: #2E4156;
    --thirdColor: #AAB7B7;
    --FourthColor: #c0c8ca;
    --FifthColor: #D4D8DD;
    --whiteColor: #fcfbfa;
}
body {
    background-color: var(--FifthColor,#ddd);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    height: 60px;
    width: 100%;
    background-color: var(--MainColor);
    color: var(--FifthColor);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contener{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    margin:0;
    padding: 0;
}
table{
    margin:40px auto;
    padding: 0;
    width: 1000px; 
    border-bottom: 2px solid var(--SecondaryColor);
    position: relative;
}
th,td {
    padding: 0;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}
th {
    background-color: var(--SecondaryColor);
    color: #fff;
    height: 25px;
}
td {
    background-color: var(--FourthColor);
    border: solid 1px var(--MainColor);
    border-style:double;
}
input {
    background-color: transparent;
    border:none;
    margin: 0;
    width: 100%;
    padding-left: 5px;
}
/* tr:last-of-type > td:nth-last-of-type(7){
    position: relative;
} */
td:first-of-type, td:nth-of-type(2){
    width: 22px;
}
th:nth-child(1), th:nth-child(2){
    background-color: transparent;
}
td:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.3);
}
td:nth-child(1):hover {
    background-color: rgb(255, 0, 0);
}
td:nth-child(2) {
    background-color: rgba(0, 120, 0, 0.3);
}
td:nth-child(2):hover {
    background-color: rgb(0, 120, 0);
}
button {
    background-color: transparent;
    border: 0;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}
td > input:focus {
    outline: none;
    text-align: center;

}